<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.TaskMapper">
	<select id="getTaskList" resultType="map">
		select task.*, userid, username,usernickname from task, user where task.task_publisher = user.userid
		<if test="task_status!=null">and task_status=#{task_status} order by task.task_id, user.userid</if>
		<if test="task_status==null">order by task.task_id desc</if>
	</select>
	
	<select id="getProcessInfo" resultType="map">
		select process.*,usernickname as executor
		from  process, user, task 
		where process.task_id=#{task_id} and task.task_id=#{task_id} and user.userid=process.user_id
	</select>
	
	<insert id="insertTask" useGeneratedKeys="true" keyProperty="task_id">
		insert into task(task_name, task_detail, task_publisher)
		values(#{task_name}, #{task_detail}, #{userid})
	</insert>
	
	<delete id="deleteTask" flushCache="true">
		delete from task where task_name=#{task_name} and task_id=#{task_id}
	</delete>
	
	<update id="updateTask">
		update task set task_name = #{task_name}, task_detail = #{task_detail}, updatetime = now()
		where task_id=#{task_id}
	</update>
	
	<update id="updateProcess">
		update process set process_duration=#{process_duration},updatetime = now(),statuds=#{status}
		where task_id=#{task_id}
	</update>
	
	<update id="updateTaskStatus">
		update task set task_status = #{task_status_new} where task_id = #{task_id}
	</update>
	<update id="updateProcessStatus">
		update process set status = #{process_status_new} where task_id = #{task_id}
	</update>
	<insert id="insertProcess" useGeneratedKeys="true" keyProperty="process_id">
		insert into process(user_id, task_id,process_duration) values(#{userid},#{task_id},#{process_duration})
	</insert>
	<select id="getTaskById" resultType="map">
		select * from task where task_id=#{task_id}
	</select>
	
	<select id="getProcessById" resultType="map">
		select * from process where task_id=#{task_id}
	</select>
</mapper>